body {
	font-family: sans-serif;
	background: #007EA7;
	color: white;
	text-align: center;
	font-size: 1vw;
}

h1 {
	font-size: 3vw;
}

h2 {
	font-size: 0.9em;
	margin: 0px 0px 10px 0px;
}

.container {
	margin: 3em;
}

#sounds {
	padding: 0px;
}

.sound {
	text-align: center;
	border: 1px solid rgb(0, 28, 37);
	/* border-radius: 20px; */
	border-radius: 0.4em;
	background: #003459;
	margin: 1px;
	display: inline-block;
	width: 8%;
	padding: 1em;
}

.sound h2 {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.KeyCodeText {
	text-align: center;
	display: inline-block;
	font-size: 4em;
}

#stopButton {
	width: 50%;
	height: 40%;
	background: rgb(0, 40, 53);
	padding: 0.4em;
	border-radius: 1em;
}

/*
#stopButton h2 {
	font-size: 2em;
}
*/

#stopButton img {
	width: 100%;
	height: auto;
}
